.about__bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $base-font-size;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    padding: 0 auto;

    p {
        margin: 0;
    }
}

.about__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 250px;
        width: auto;
        border-radius: 20px;
        object-fit: cover;
    }

    .slide {
        animation: slide 800ms ease-in-out;
    }
}

@keyframes slide {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media #{$mq-mobileM} {
    .about__bio {
        justify-content: center;
        font-size: 1.5em;
    }

    .about__image {
        align-items: center;
        margin-top: 0;

        img {
            height: 300px;
        }
    }
}

@media #{$mq-tablet} {
    .about__bio {
        justify-content: center;
        font-size: 1.7em;
    }

    .about__image {
        align-items: center;
        margin-top: 0;

        img {
            height: 350px;
        }
    }
}

@media #{$mq-laptopS} {
    .about__bio {
        font-size: 1.7em;
    }

    .about__image {
        img {
            height: 400px;
        }
    }
}

@media #{$mq-laptopL} {
    .about__bio {
        font-size: 2em;
    }

    .about__image {
        img {
            height: 550px;
        }
    }
}

@media #{$mq-4K} {
    .about__bio {
        font-size: 2.2em;
    }

    .about__image {
        img {
            height: 650px;
        }
    }
}
