body {
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media #{$mq-laptopS} {
        font-size: $base-font-size * 1.2;
    }

    @media #{$mq-laptopM} {
        font-size: $base-font-size * 1.3;
    }

    @media #{$mq-laptopL} {
        font-size: $base-font-size * 1.4;
    }

    @media #{$mq-4K} {
        font-size: $base-font-size * 1.6;
    }
}
