//Colors
$dark-grey: #343f4b;
$grey: #51545e;
$blue: #2cabd8;
$dark-blue: #1a5ba4;
$off-white: #f7f7ff;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Fonts
$font-title: "Lobster", cursive;
$font-description: "Bitter", serif;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
